<a href="https://colab.research.google.com/github/SanaHameed2/-Electricity-Bill-Calculator-/blob/master/banking_system_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
all_accounts = []
import random

In [70]:
import random

def open_account():
  account_title = input("enter the title : ")
  account_number = int(input("enter the number : "))
  cnic = input("enter CNIC: ")
  initial_deposit = int(input("enter the initial deposit: "))
  account = {'title': account_title,
             'cnic': cnic,
             'account_number': account_number,
             'type': 'saving',
             'balance': initial_deposit,
             'contact': ''}
  all_accounts.append(account)
  print("Account opened successfully")
  print(f"Your account title is {account['title']} and account number is {account['account_number']}")

In [72]:
open_account()

enter the title : Sana
enter the number : 345621
enter CNIC: 42401-1234567-1
enter the initial deposit: 15000
Account opened successfully
Your account title is Sana and account number is 345621

In [73]:
open_account()

enter the title : Daniyal Ali
enter the number : 345622
enter CNIC: 42401-1234567-2
enter the initial deposit: 13000
Account opened successfully
Your account title is Daniyal Ali and account number is 345622

In [74]:
open_account()

enter the title : Raheela Malik
enter the number : 345623
enter CNIC: 42401-1234567-3
enter the initial deposit: 200000
Account opened successfully
Your account title is Raheela Malik and account number is 345623

In [95]:
for acc in all_accounts:
    print(acc['account_number'], acc['title'])

345621 Sana
345623 Raheela Malik

In [78]:
all_accounts

[{'title': 'Sana',
  'cnic': '42401-1234567-1',
  'account_number': 345621,
  'type': 'saving',
  'balance': 15000,
  'contact': ''},
 {'title': 'Daniyal Ali',
  'cnic': '42401-1234567-2',
  'account_number': 345622,
  'type': 'saving',
  'balance': 13000,
  'contact': ''},
 {'title': 'Raheela Malik',
  'cnic': '42401-1234567-3',
  'account_number': 345623,
  'type': 'saving',
  'balance': 200000,
  'contact': ''}]

In [ ]:
def cash_deposit(acc_number, amount):
    if amount > 0:
        for acc in all_accounts:
            if str(acc['account_number']) == str(acc_number):
                acc['balance'] += amount
                print("Amount successfully deposited")
                print(f"New Balance: {acc['balance']}")
                break
        else:
            print("Account not found")
    else:
        print("Invalid Amount")

In [80]:
cash_deposit(345622, 10000)

Amount successfully deposited
New Balance: 23000

In [81]:
all_accounts

[{'title': 'Sana',
  'cnic': '42401-1234567-1',
  'account_number': 345621,
  'type': 'saving',
  'balance': 15000,
  'contact': ''},
 {'title': 'Daniyal Ali',
  'cnic': '42401-1234567-2',
  'account_number': 345622,
  'type': 'saving',
  'balance': 23000,
  'contact': ''},
 {'title': 'Raheela Malik',
  'cnic': '42401-1234567-3',
  'account_number': 345623,
  'type': 'saving',
  'balance': 200000,
  'contact': ''}]

In [ ]:
def check_balance(acc_number):
    for acc in all_accounts:
        if str(acc['account_number']) == str(acc_number):
            print(f"Current Balance: {acc['balance']}")
            break
    else:
        print("Account not found")

In [82]:
check_balance(345622)

Current Balance: 23000

In [ ]:
def cash_withdrawal(acc_num, amount):
    for acc in all_accounts:
        if (acc['account_number'] == acc_num) and (acc['balance'] >= amount):
            acc['balance'] -= amount
            print(f"Withdrawal of {amount} successful.")
            print(f"New Balance: {acc['balance']}")
            break
    else:
        print("Invalid account number or insufficient balance.")

In [83]:
cash_withdrawal(345622, 5000)

Withdrawal of 5000 successful.
New Balance: 18000

In [ ]:
def acc_close(acc_num):
    for i, acc in enumerate(all_accounts):
        if acc['account_number'] == acc_num:
            print(f"Account {acc_num} found.")
            print(f"Balance: {acc['balance']}")

            confirm = input("Are you sure you want to close this account? (yes/no): ")
            if confirm.lower() == "yes":
                del all_accounts[i]
                print(f"Account {acc_num} has been closed successfully.")
            else:
                print("Account closure cancelled.")
            break
    else:
        print("Invalid account number.")

In [84]:
acc_close(345622)

Account 345622 found.
Balance: 18000
Are you sure you want to close this account? (yes/no): yes
Account 345622 has been closed successfully.

In [85]:
acc_close(345623)

Account 345623 found.
Balance: 200000
Are you sure you want to close this account? (yes/no): no
Account closure cancelled.

In [93]:
def transfer_funds(from_acc_num, to_acc_num, amount):
    from_acc = None
    to_acc = None

    for acc in all_accounts:
        if acc['account_number'] == from_acc_num:
            from_acc = acc
        if acc['account_number'] == to_acc_num:
            to_acc = acc

    if not from_acc:
        print("Sender account not found.")
        return
    if not to_acc:
        print("Receiver account not found.")
        return

    if from_acc['balance'] < amount:
        print("Insufficient balance in sender account.")
        return

    from_acc['balance'] -= amount
    to_acc['balance'] += amount

    print(f"Transfer successful!")
    print(f"{amount} transferred from {from_acc_num} to {to_acc_num}.")
    print(f"New balance of {from_acc_num}: {from_acc['balance']}")
    print(f"New balance of {to_acc_num}: {to_acc['balance']}")

In [86]:
transfer_funds(345622, 345623, 5000)

Sender account not found.

In [87]:
transfer_funds(345623, 345623, 5000)

Receiver account not found.

In [96]:
transfer_funds(345621, 345623, 20000)

Insufficient balance in sender account.

In [98]:
transfer_funds(345621, 345623, 1000)

Transfer successful!
1000 transferred from 345621 to 345623.
New balance of 345621: 14000
New balance of 345623: 201000